# Ignore frontend files in language stats
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

# Ignore Flask folders
static/** linguist-vendored
templates/** linguist-vendored